.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
body{
 /* Desktop styles */
@media only screen and (min-width: 1024px) {
  .container {
    width: 150%;
    margin: 40px auto;
  }
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
}
}

.logo {
  width: 200px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.nav-icon {
  width: 70px;
  height:80px;
  margin-right: 10px;
}

.nav-link {
  margin-right: 20px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: #666;
}

.nav-link.active {
  border-bottom: 2px solid #2196f3;
  color: #2196f3;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 20px;
}

.search-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.search-input {
  width: 250px;
  padding: 10px;
  border: none;
  font-size: 18px;
}

.search-input:focus {
  outline: none;
}

.profile-actions {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.try-quora-btn {
  background-color: #e4e9e4;
  color: #3d3636;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.try-quora-btn:hover {
  background-color: #3e8e41;
}

.globe-icon {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  color: #666;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.add-question-btn {
  background-color: #aa0a0a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px / 20px;
  cursor: pointer;
  height: 50px;
  
}

.add-question-btn:hover {
  background-color: #3e8e41;
}